@model IEnumerable<WebProgramingMatTroiBeTho.Models.Models.SanPham.SanPham>

@{
    Layout = "~/Views/Shared/_LayoutSanPham.cshtml";
}

<section id="products">
    <div class="container">
        <div class="d-flex flex-row">
            <div class="text-muted m-2" id="res">@ViewBag.SoSanPham</div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                    <div class="card">
                        <img class="card-img-top" src="@Url.Content(item.HinhAnh)">
                        <div class="card-body">
                            <h5><b>@Html.DisplayFor(model => item.TenSP)</b></h5>
                            <div class="d-flex flex-row my-2">
                                <div class="text-muted">@Html.DisplayFor(model => item.DonGia) VND/@Html.DisplayFor(model => item.LoaiSP)</div>
                                @if (item.SoLuong < 1)
                                {
                                    <div class="ml-auto"><span class="fa fa-plus" id="orange"></span><span class="px-sm-1">Hết hàng</span> <span class="fa fa-minus" id="orange"></span></div>
                                }
                                else
                                {
                                    <div class="ml-auto"><span class="px-sm-1"><span>Còn lại: <span>@Html.DisplayFor(model => item.SoLuong)</span></span></span> </div>
                                }
                            </div>
                            @if (item.SoLuong > 1 )
                            {
                                <a href="/MuaHang/ThemVaoGioHang/@item.MaSP">
                                    <button class="btn w-100 rounded my-2" type="button">Thêm vào giỏ hàng</button>
                                </a>
                            }

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
