@model IEnumerable<WebProgramingMatTroiBeTho.Models.Models.SanPham.SanPham>

@{
    ViewBag.Title = "Index";

}


<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url(&quot;../assets/img/quan-cafe-da-nang-10.1.jpg&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div style="position: sticky;float: right;margin-right: 17px;width: 70px;top: 80%;height: 70px;z-index: 1;"><a href="/MuaHang/HienThiCart"><button class="btn btn-primary" type="button" style="width: 60px;height: 60px;border-radius: 90px;background: rgba(0,0,0,0);color: rgb(255, 255, 255);border-color: rgb(194,189,175);margin-top: 17px;"><i class="fa fa-shopping-cart" style="font-size: 35px;color: rgb(204,204,204);width: 30.5px;height: 33px;"></i><span style="position: absolute;font-size: 20px;color: rgb(11,9,9);margin-left: 5px;margin-top: -14px;background: #bab7b7;border-radius: 60px;padding-right: 5px;padding-left: 4px;">@Html.Action("GioHang", "MuaHang")</span></button></a></div>
<section class="article-list" style="background: rgba(11,4,1,0.93);">


    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color: rgb(203,203,203);">Quán này dùng để chill ey</h2>
            <p class="text-center" style="padding-bottom: 10px;color: rgb(203,203,203);">Là một quán cafe nhún nhảy, chill theo nhạc, mỏng thôi mai còn đi làm </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="border-bottom-color: rgba(0,0,0,0);">
                <i class="fa fa-trophy d-flex d-xl-flex justify-content-center justify-content-xl-center" style="font-size: 50px;padding: 9px;color: rgb(203,203,203);"></i>
                <h1 class="d-xl-flex justify-content-xl-center" style="text-align: center;color: rgb(203,203,203);">Heading</h1>
                <p style="text-align: center;color: rgb(203,203,203);">Paragraph</p>
            </div>
            <div class="col-md-4" style="border-bottom-color: rgba(0,0,0,0);">
                <i class="fa fa-gift d-flex d-xl-flex justify-content-center justify-content-xl-center" style="font-size: 50px;padding: 9px;color: rgb(203,203,203);"></i>
                <h1 class="d-xl-flex justify-content-xl-center" style="text-align: center;color: rgb(203,203,203);">Heading</h1>
                <p style="text-align: center;color: rgb(203,203,203);">Paragraph</p>
            </div>
            <div class="col-md-4" style="border-bottom-style: none;border-bottom-color: rgba(0,0,0,0);">
                <i class="fa fa-map-marker d-flex d-xl-flex justify-content-center justify-content-xl-center" style="font-size: 50px;padding: 9px;color: rgb(203,203,203);"></i>
                <h1 class="d-xl-flex justify-content-xl-center" style="text-align: center;color: rgb(203,203,203);">Heading</h1>
                <p style="text-align: center;color: rgb(203,203,203);">Paragraph</p>
            </div>
        </div>
    </div>
    <section class="article-list" style="background: rgba(11,4,1,0.93);">
        <div class="container">
            <div class="d-xxl-flex justify-content-xxl-center" style="padding-left: 70px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            @foreach (var item in Model)
                        {
                            <div class="col d-inline" style="padding-left: 0;padding-right: 0;">

                                <div class="card float-start d-xxl-flex" data-bss-hover-animate="pulse" style="height: 370.969px;width: 276px;border-radius: 22px;margin-right: 24px;margin-bottom: 8px;margin-top: 24px;">

                                    <img class="card-img-top w-100 d-block" style="background: url(&quot;assets/img/28f9f051-e108-4e88-b3d4-0325e56c2a8a.jpg&quot;) center / auto no-repeat;height: 228.98px;border-radius: 20px;" src="@Url.Content(item.HinhAnh)">
                                    <div class="card-body">
                                        <h4 class="card-title">@Html.DisplayFor(model => item.TenSP)</h4>
                                        <div>
                                            <div class="d-inline">
                                                <span class="d-inline-block">@Html.DisplayFor(model => item.DonGia) VND/@Html.DisplayFor(model => item.LoaiSP)</span>
                                                <div class="d-inline float-end">
                                                    <div class="d-inline float-end">
                                                        @if (item.SoLuong == 0)
                                                        {
                                                            <span>Hết hàng</span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                Còn lại: <span>
                                                                    @Html.DisplayFor(model => item.SoLuong)
                                                                </span>
                                                            </span>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                        @if(item.SoLuong != 0)
                                            {
                                            <a href="/MuaHang/ThemVaoGioHang/@item.MaSP">
                                                <button class="btn btn-primary float-none d-xxl-flex justify-content-xxl-center" data-bss-hover-animate="pulse" type="button" style="width: 236.7031px;margin-top: 10px;color: rgb(255,168,0);background: rgba(78,115,223,0);border-color: rgb(255,168,0);border-radius: 14px;">Thêm vào giỏ hàng</button>
                                            </a>
                                            }
                                            
                                            </div>
                                    </div>
                                </div>

                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
