
@{
    ViewBag.Title = "SingUp";
    Layout = null;
}
@model WebProgramingMatTroiBeTho.Models.Models.Account.Account
<!DOCTYPE html>
<html style="background: url(&quot;assets/img/3RVDEnR.png&quot;);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="~/assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="~/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider.css">
</head>

<body>
    <section class="register-photo" style="padding: 224px 0px;background: url(&quot;../assets/img/3RVDEnR.png&quot;) center / cover no-repeat;height: 995px;">
        <div class="form-container">
            <div class="image-holder" style="background: url(&quot;../assets/img/Cafe-ở-Sài-Gòn_-người-Sài-Gòn-mến-mời_.jpg&quot;) top / cover;"></div>



            @using (Html.BeginForm("SingUp", "Login", FormMethod.Post, new { @style = "background: rgba(3,1,1,0.63);" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="text-center"><strong>Tạo tài khoản</strong></h2>
                <div class="mb-3">
                    @Html.TextBoxFor(model => model.NameUser, new { @class = "form-control", @placehoder = "Họ và tên", @name = "NameUser", @autofocus = "autofocus", @style = "background: rgba(247,249,252,0)" })
                </div>

                <div class="mb-3">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placehoder = "Nhập tài khoản...", @name = "UserName", @autofocus = "autofocus", @style = "background: rgba(247,249,252,0)" })
                </div>

                <div class="mb-3">
                    @Html.TextBoxFor(model => model.PassWord, new { @class = "form-control", @placehoder = "Password", @name = "PassWord", @type = "password", value = "", @style = "background: rgba(247,249,252,0)" })
                </div>

                <div class="mb-3">
                    @Html.TextBoxFor(model => model.CheckPassword, new { @class = "form-control", @placehoder = "Nhập lại mật khẩu", @name = "PassWordCheck", @type = "password", value = "", @style = "background: rgba(247,249,252,0)" })
                </div>
                <div class="mb-3"></div>
                <div class="mb-3">
                    <div class="form-check">
                        @Html.ValidationSummary(true, null, new { @style = "color:#b30000; font-size:13px;" })
                        
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Đăng ký</button></div><a class="already" href="@Url.Action("Index", "Login")">Quay lại trang đăng nhập.</a>
            }



       
        </div>
    </section>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="~/assets/js/Simple-Slider.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>

</html>

